<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>EJS USER PAge</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, quia qui corrupti soluta libero adipisci amet? Adipisci inventore voluptatibus ab quis, ducimus nostrum architecto nulla asperiores fuga illum maiores ea debitis quam distinctio veritatis qui aliquid repellat sint repudiandae suscipit totam vel assumenda, doloremque dolore? Mollitia officiis incidunt quas asperiores, veritatis omnis laborum porro distinctio quis illo expedita quia earum quaerat, sit magni. Earum laborum omnis id sit ab fugiat est magni exercitationem quod beatae, velit incidunt vel quis optio dolor, rem corporis aperiam quaerat recusandae sint consequatur harum magnam. Expedita nam dolores, aperiam ad vel mollitia quibusdam labore eum animi, commodi quam numquam nihil, cumque accusamus! Molestias eum nemo itaque atque accusamus? Fuga voluptatem dolorum quam fugiat dolores voluptatibus accusantium vel. Blanditiis qui molestias nesciunt officia, at deleniti facilis ut quo magni, minima enim corrupti consequatur saepe atque facere dolor maxime suscipit? Enim dicta laboriosam assumenda delectus ullam odio accusantium eos culpa quaerat! Voluptatum nemo quia suscipit odit eveniet culpa obcaecati quis odio adipisci minus est, ratione quaerat. Iusto laboriosam vel enim eaque quam ex quae cupiditate dolorum totam laudantium numquam non, ratione, eligendi repudiandae consequuntur quo. Perferendis aliquam quidem, optio quis cum nam. Reprehenderit maiores sunt adipisci quia.</p>
</body>
</html>